﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/CSS/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/MyStyles.css" rel="stylesheet" />
    <link href="~/CSS/Styles.css" rel="stylesheet" />
    <link href="~/CSS/menu.css" rel="stylesheet" />
    <script src="~/scripts/MenuBar.js"></script>


    <style>
        .navbar.navbar-default {
            background-color: #0094ff;
            border: none;
        }

        .nav.navbar-nav li a {
            color: white;
        }
    </style>

</head>
<body>
    <div id="header">
        <div class="header hide_it">

            <div>
                <ul id="admin" class="MenuBarHorizontal MenuBarActive">
                    <li><a href="Category" id="A3" class="MenuBarItemSubmenu" style="background-color: #000  !important;">Category</a>
                    <li><a href="SubCategory" id="A3" class="MenuBarItemSubmenu" style="background-color: #000  !important;">Sub-Category</a>
                    <li><a href="Add_SubCategory" id="A3" class="MenuBarItemSubmenu" style="background-color: #000  !important;">Product</a>
                    <li><a href="AdminContactUsListing" id="A3" class="MenuBarItemSubmenu" style="background-color: #000  !important;">Package</a>
                    <li><a href="AdminPostRequirementListing" id="A3" class="MenuBarItemSubmenu" style="background-color: #000  !important;">Shop</a>
                    <li><a href="AdminManageSEO" id="A3" class="MenuBarItemSubmenu" style="background-color: #000  !important;">Admin</a>
                    <li><a href="AdminUserList" id="A3" class="MenuBarItemSubmenu" style="background-color: #000  !important;">Distribute</a>
                    <li><a href="AdminManageAds" id="A3" class="MenuBarItemSubmenu" style="background-color: #000  !important;">Purchage</a>
                    <li><a href="AdminManageAds" id="A3" class="MenuBarItemSubmenu" style="background-color: #000  !important;">Order</a>
                    <li><a href="AdminManageAds" id="A3" class="MenuBarItemSubmenu" style="background-color: #000  !important;">Cat-Link</a>
                    <li><a href="AdminLogout" id="A3" class="MenuBarItemSubmenu" style="background-color: #000  !important;">Logout</a>


                </ul>
            </div>

        </div>

    </div>
    <div>
        <div>
            @RenderBody()
        </div>

    </div>
</body>
</html>
