﻿
<div class="inner-heading">
    <div class="container">
        <h1>Why We Are Best?</h1>
        <div class="col-md-12 col-sm-12" style="margin-top:30px;">
            <div class="firstBlock">
                <i class="fa fa-thumbs-up" style="font-size:22px; font-weight:bold;"></i>&nbsp;Trusted Worldwide
            </div>
            <div class="SecondBlock">

                <i class="fa fa-globe" style="font-size:22px; font-weight:bold;"></i>&nbsp;Global Presence
            </div>
            <div class="ThirdBlock">
                <i class="fa fa-sort-amount-desc" style="font-size:22px; font-weight:bold;"></i>&nbsp;Low Advertisement Costs
            </div>

        </div>

    </div>
</div>
<!--=================================================-->
<!--footer start-->
<div class="footer-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h3>About MHTTraders.com</h3>
                <div class="footer-logo"><img src="~/images/logos.jpg" alt="" height="40px" width="40px"></div>
                <p>
                    MHTTraders.com is India's fastest growing wood market place portal launched by Suntel exports. Our mission is to connect wood industry on a single platform. At PlyBuy.com our clients can advertise their companies and products ... <a href="/AboutUs">Read More</a>
                </p>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>Quick  LInks</h3>
                <ul class="footer-links">
                    <li><a href="/Index">Home</a></li>
                    <li><a href="/AboutUs">About Us</a></li>
                    <li><a href="/PrivacyPolicy">Privacy Policy</a></li>
                    <li><a href="/TermsCondition">Terms & Conditions</a></li>
                    <li><a href="/ContactsUs">Contact Us</a></li>
                    <li><a href="/PostRequirement">Join</a></li>
                </ul>
            </div>

            <div class="col-md-5 col-sm-6">
                <h3>Contact Details</h3>
                <div class="address">MHTTraders.com<br>Mungeri Ganj, Ward No. 33,<br /> Begusarai, Bihar,India </div>
                <div class="info"><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+918406905519">+91 8406905519</a></div>
                <div class="info"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:info@mhttraders.com">info@mhttraders.com</a></div>

                <h3>Connect With Us</h3>
                <div class="social-icon">
                    <a href="https://www.facebook.com/plybuyCom" target="_blank" class="facebook"><b class="fa fa-facebook"></b></a>
                    <a href="#" target="_blank" class="linkedin"><b class="fa fa-youtube"></b></a>
                    <a href="#" target="_blank" class="google-plus"><b class="fa fa-google-plus"></b></a>
                </div>
            </div>
        </div>
        <div class="copyright">Copyright © 2018-2019 Mhttraders.com - All Rights Reserved.</div>
    </div>
</div>
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css" /><link />
