﻿<div class="">
    <div class="image-slider owl-carousel">

        <div class="single-slide">

            <a href="#">
                @*<img src="@System.Configuration.ConfigurationManager.AppSettings["siteUrl"]Uploads/@slide.Photo" alt="">*@
                <img src="~/Images/first.jpg" />
            </a>
        </div>
        <div class="single-slide">

            <a href="#">
                @*<img src="@System.Configuration.ConfigurationManager.AppSettings["siteUrl"]Uploads/@slide.Photo" alt="">*@
                <img src="~/Images/second.jpg" />
            </a>
        </div>
        <div class="single-slide">

            <a href="#">
                @*<img src="@System.Configuration.ConfigurationManager.AppSettings["siteUrl"]Uploads/@slide.Photo" alt="">*@
                <img src="~/Images/third.jpg" />
            </a>
        </div>

    </div>
</div>

