﻿<table class="table table-bordered table-striped with-check">
    <tr style="height:30px;">      
        <th class="gridHeading" width="30%">Category</th>
        <th class="gridHeading" width="10%">IsActive</th>
        <th class="gridHeading" width="10%">Edit</th>
        <th class="gridHeading" width="10%">Delete</th>
    </tr>
    @foreach (var m in ViewBag.CategoryList)
     {
    <tr>
        <td>@m.Name</td>
        <td>@m.IsActive</td>
       
        <td>
            @Html.Raw(Html.ActionLink("edit", "EditCategory", new { id = m.CategoryID }).ToHtmlString().Replace("edit", "<img src=\"/Images/edit.gif\" style=\"width:30px;height:30px;text-align:center;\"/>"))
        </td>
        <td>
            @Html.Raw(Html.ActionLink("edit", "DeleteCategory", new { id = m.CategoryID }).ToHtmlString().Replace("edit", "<img src=\"/Images/delete.png\" style=\"width:30px;height:30px;text-align:center;\" />"))

        </td>
    </tr>
           
     }
  
   

</table>
