﻿

<div class="header-wrap">
    <div class="container">
        <!--row start-->
        <div class="row">
            <!--col-md-3 start-->
            <div class="col-md-3 col-sm-12">
                <div class="logo"><a href="~/Index"><img src="~/images/logos.jpg" alt="" height="40px" width="40px"></a></div>
            </div>
            <!--col-md-3 end-->
            <!--col-md-7 end-->
            <div class="col-md-4 col-sm-12">

             
            </div>
            <!--col-md-3 end-->
            <!--col-md-2 start-->
            <div class="col-md-5 col-sm-12">
                <a href="/SignUp" class="btn btn-post">Join</a>
                <a href="/Login" class="btn btn-primary">Login</a>
            </div>
            <!--col-md-2 end-->
        </div>
        <!--row end-->
    </div>
</div>

