﻿
@{
    ViewBag.Title = "Edit Company Profile";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
<script src="http://code.angularjs.org/1.0.0rc10/angular-1.0.0rc10.js"></script>

<div id="content" ng-app="edtComp" ng-controller="edtCompCtrl" style="margin-top:10px;">
    <div id="content-header"><h1>{{heading}}</h1></div>
    <div class="container-fluid">
        <div class="row">
            <button type="button" ng-click="Company()" class="btnClass">Add New Company</button>
            <button type="button" ng-click="ManageLinking()" class="btnClass">Company Linking</button>

        </div>
        <div ng-show="loadunSuccess" style="text-align:center;">
            <img src="~/Image/ajax-loader.gif" />
        </div>
        <div ng-show="loadSuccess">
            <div class="row-fluid">

                <div class="col-md-6">
                    <div class="widget-box">
                        <span id="ContentPlaceHolder1_lblMessage" style="color:Green"></span>
                        <div class="widget-content nopadding">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label">Name :</label>
                                    <div class="controls" style="margin-top:-24px;">
                                        <input id="compName" type="text" ng-model="compName" required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Mobile :</label>
                                    <div class="controls" style="margin-top:-24px;">
                                        <input id="compName" type="text" ng-model="compMobile" required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Phone :</label>
                                    <div class="controls" style="margin-top:-24px;">
                                        <input id="compName" type="text" ng-model="compPhone" required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Email :</label>
                                    <div class="controls" style="margin-top:-24px;">
                                        <input id="compName" type="email" ng-model="compEmail" required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Address :</label>
                                    <div class="controls" style="margin-top:-24px;">
                                        <input id="compName" type="text" ng-model="compAddress" required />
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">City :</label>
                                    <div class="controls" style="margin-top:-24px;">
                                        <input id="compName" type="text" ng-model="compCity" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">State :</label>
                                    <div class="controls" style="margin-top:-24px;">
                                        <input id="compName" type="text" ng-model="compState" required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Country :</label>
                                    <div class="controls" style="margin-top:-24px;">
                                        <input id="compName" type="text" ng-model="compCountry" required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Contact Person :</label>
                                    <div class="controls" style="margin-top:-24px;">
                                        <input id="compName" type="text" ng-model="compContactPerson" required />
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div>
                                       <script src="/Scripts/ckeditor/ckeditor.js"></script></title>
     
	<script src="https://cdn.ckeditor.com/4.10.1/full/ckeditor.js"></script>
	 <textarea ng-model="compDescription" placeholder="Description" id="editor1" rows="10" cols="50"></textarea>
										
										<script>
														CKEDITOR.replace("editor1",
                {
                    filebrowserBrowseUrl :"/Scripts/ckeditor/filemanager/browser/default/browser.html?Connector=ckeditor/filemanager/connectors/asp/connector.asp",
                    filebrowserImageBrowseUrl : "/Scripts/ckeditor/filemanager/browser/default/browser.html?Type=Image&Connector=ckeditor/filemanager/connectors/asp/connector.asp",
                    filebrowserFlashBrowseUrl :"/Scripts/ckeditor/filemanager/browser/default/browser.html?Type=Flash&Connector=ckeditor/filemanager/connectors/asp/connector.asp",
		            filebrowserUploadUrl  :"/Scripts/ckeditor/filemanager/connectors/asp/upload.asp?Type=File",
		            filebrowserImageUploadUrl : "/Scripts/ckeditor/filemanager/connectors/asp/upload.asp?Type=Image",
		            filebrowserFlashUploadUrl : "/Scripts/ckeditor/filemanager/connectors/asp/upload.asp?Type=Flash"
});</script>
													 
									</div>
								</div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget-box">
                        <span id="ContentPlaceHolder1_lblMessage" style="color:Green"></span>
                        <div class="widget-content nopadding">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label">Logo :</label>  <div class="controls" style="margin-top:-24px;">
                                        <input type="file" ngf-select="UploadFiles($files)" />
                                        <img src="@System.Configuration.ConfigurationManager.AppSettings["siteUrl"]Uploads/{{compLogo}}" style="max-height:100px;max-width:100px;" />
                                        <span style="display:none;"> {{compLogo}}</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Gallery Image<span id="ContentPlaceHolder1_RequiredFieldValidator3" class="warning" style="display:none;">*</span> :</label>
                                    <div class="controls" style="margin-top:-24px;">
                                        <input type="file" multiple="multiple" ngf-select="UploadGallery($files)" />
                                    </div>
                                </div>
                                <div class="control-group">

                                    <div class="col-md-12">
                                        <table width="100%">
                                            <tr class="gridHeading">
                                                <th>Image</th>
                                                <th>Display Order</th>
                                                <th>Delete</th>
                                            </tr>
                                            <tr ng-repeat="x in getGallery">
                                                <td><img src="@System.Configuration.ConfigurationManager.AppSettings["siteUrl"]Uploads/{{x.Photo}}" style="height:50px;padding:5px;" /></td>
                                                <td><input type="number" ng-model="x.DisplayOrder" style="width:50px;" /></td>
                                                <td style="display:none;"><input type="text" ng-model="x.CompanyID" style="display:none;" /></td>
                                                <td><img src="~/Image/delete.png" ng-click="RemoveImage(x)" /></td>

                                            </tr>
                                        </table>

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Meta Title :</label>
                                    <div class="controls" style="margin-top:-24px;">
                                        <input id="compMetaData" type="text" ng-model="compMetaData" required />
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Meta Keywords :</label>
                                    <div class="controls" style="margin-top:-24px;">
                                        <input id="compMetaKey" type="text" ng-model="compMetaKeyword" required />
                                    </div>
                                </div>
                                <div class="control-group">

                                    <div>
                                        <textarea ng-model="compMetaDescription" placeholder="Meta Description" rows="5" cols="50"></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Is Active :</label>
                                    <div class="controls" style="margin-top:-24px;">
                                        <input type="checkbox" ng-model="compIsActive" />

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Top Brands :</label>
                                    <div class="controls" style="margin-top:-24px;">
                                        <input type="checkbox" ng-model="compTopBrands" />

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Bottom Brands :</label>
                                    <div class="controls" style="margin-top:-24px;">
                                        <input type="checkbox" ng-model="compBottomBrands" />

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Display Order :</label>
                                    <div class="controls" style="margin-top:-24px;">
                                        <input id="compDisplayOrder" type="text" ng-model="compDisplayOrder" required />
                                    </div>
                                </div>
                                <div style="clear:both"></div>
                                <div class="BtnCenter">
                                    <button id="btnTest" value="Save" ng-click="SaveData(compDisplayOrder,compMetaData,compMetaKeyword,compMetaDescription,compIsActive,compTopBrands,compBottomBrands,compLogo,getGallery,compName,compMobile,compPhone,compEmail,compAddress,
                                        compCity,compState,compCountry,compContactPerson,compDescription)" class="btnClass">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<script>
    var app = angular.module("edtComp", ['ngFileUpload']);
    app.controller("edtCompCtrl", function ($scope, Upload, $http) {     
        $scope.heading = "Update Company Profile";
        $scope.loadSuccess = false;
        $scope.loadunSuccess = true;
        var CompanyID = @ViewBag.CompanyID;

        $http.get("/GetCompanyData", { params: { CompanyID: CompanyID } }).then(function (responce) {
            $scope.compDisplayOrder = responce.data.DisplayOrder;
            $scope.compLogo = responce.data.Logo;           
            $scope.compName = responce.data.Name;
            $scope.compMobile = responce.data.Mobile;
            $scope.compPhone = responce.data.Phone;
            $scope.compEmail = responce.data.Email;
            $scope.compAddress = responce.data.Address;
            $scope.compCity = responce.data.City;
            $scope.compState = responce.data.State;
            $scope.compCountry = responce.data.Country;
            $scope.compContactPerson = responce.data.ContactPerson;
            $scope.compDescription = responce.data.Description;
            $scope.compIsActive = responce.data.IsActive;
            $scope.compTopBrands = responce.data.TopBrands;
            $scope.compBottomBrands = responce.data.BottomBrands;
            $scope.compMetaData = responce.data.MetaData;
            $scope.compMetaKeyword = responce.data.MetaKeyword;
            $scope.compMetaDescription = responce.data.MetaDescription;

        });

        $http.get("/GetGalleryData", { params: { CompanyID: CompanyID } }).then(function (responce) {
            var temp = [];
            $scope.getGallery = [];
            for (var i = 0; i < responce.data.length; i++) {
                temp.push({ CompanyID: CompanyID, DisplayOrder: responce.data[i].DisplayOrder, Photo: responce.data[i].Photo, IsActive: responce.data[i].IsActive, GalleryID: responce.data[i].GalleryID });
            }
            $scope.getGallery = temp;
            $scope.loadSuccess = true;
            $scope.loadunSuccess = false;

        });

        $scope.SaveData = function (_DispOrder,_Mdata, _MKey, _MDesc, _IsActive, _TopBrands, _BottomBrands, _logo, objGallery, _compName, _compMobile, _compPhone, _compEmail, _compAddress, _compCity, _compState, _compCountry, _compContactPerson, _compDescription) {
            var dts = {DisplayOrder:_DispOrder, MetaData: _Mdata, MetaKeyword: _MKey, MetaDescription: _MDesc, IsActive: _IsActive, TopBrands: _TopBrands, BottomBrands: _BottomBrands, Logo: _logo, CompanyID: CompanyID, Name: _compName, Email: _compEmail, Address: _compAddress, Description: _compDescription, Mobile: _compMobile, Phone: _compPhone, City: _compCity, Country: _compCountry, ContactPerson: _compContactPerson, State: _compState };
           
            $http({
                method: "POST",
                url: "/SaveCompany",
                data: dts
            }).then(function (responce) {
              

            });
            var dt = { CompanyID: CompanyID };
            $http({
                method: "POST",
                url: "/DeleteSavedGalleries",
                data: dt
            }).then(function (resp) { });
            for (var i = 0; i < objGallery.length; i++) {
                var dtss = { CompanyID: CompanyID, Photo: objGallery[i].Photo, IsActive: objGallery[i].IsActive, DisplayOrder: objGallery[i].DisplayOrder };

                $http({
                    method: "POST",
                    url: "/SaveGalleries",
                    data: dtss
                }).then(function (responce) {
                    
                });
            }
           
            window.location.href = "/Companies";
        };
        $scope.UploadFiles = function (files) {
            $scope.SelectedFiles = files;
            $scope.compLogo = files[0].name;
            if ($scope.SelectedFiles && $scope.SelectedFiles.length) {
                Upload.upload({
                    url: "/UploadLogo",
                    data: {
                        files: $scope.SelectedFiles
                    }
                }).then(function (response) {

                });
            }
        };

        $scope.UploadGallery = function (files) {
            $scope.SelectedGallery = files;
            if ($scope.SelectedGallery && $scope.SelectedGallery.length) {
                Upload.upload({
                    url: "/UploadGallery",
                    data: {
                        files: $scope.SelectedGallery
                    }
                }).then(function (responce) {
                    var temp = [];
                    for (var i = 0; i < responce.data.length; i++) {
                        temp.push({ CompanyID: CompanyID, DisplayOrder: responce.data[i].DisplayOrder, Photo: responce.data[i].Photo, IsActive: responce.data[i].IsActive, GalleryID: responce.data[i].GalleryID });
                    }
                    $scope.getGallery = temp;

                });
            }
        };

        $scope.RemoveImage = function (objData) {
            $http({
                method: "POST",
                url: "/DeleteGallery",
                data: objData
            }).then(function (responce) {
                var temp = [];
                $scope.getGallery = [];
                for (var i = 0; i < responce.data.length; i++) {
                    temp.push({ CompanyID: CompanyID, DisplayOrder: responce.data[i].DisplayOrder, Photo: responce.data[i].Photo, IsActive: responce.data[i].IsActive, GalleryID: responce.data[i].GalleryID });
                }
                $scope.getGallery = temp;

            });
        };

        $scope.ManageLinking = function () { window.location.href = "/PageLinking"; };

        $scope.Company = function () { window.location.href = "/Add_Company"; };
    });

</script>
