﻿.contentarea {
    width: 100%;
    height: 100%;
    float: left;
    margin-top: 8px;
    padding-bottom: 15px;
}

.loginarea {
    float: left;
    text-align: center;
    width: 100%;
    height: auto;
    min-height: 554px;
    display: block;
}

.inputHeading {
    text-align: right;
    color: #6f6f6f;
    font-size: 14px;
}

.loginbox {
    width: 40%;
    background: #f5f5f5;
    border: 4px solid #f0f0f0;
    height: 185px;
    margin: 100px auto;
    padding: 32px 15px 25px;
}

input[type=text], input[type=password] {
    width: 80%;
    float: left;
    text-align: left;
    border: 1px dashed #ccc;
    margin: 5px 0 15px 0;
    padding: 8px;
    color: #919191;
}

.btnClass {
    color: #ffffff;
    text-decoration: none;
    height: 30px;
    background: #747474;
    text-align: center;
    border: none;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
