﻿@model MTFTrades.ViewModels.VM_AdminLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    @*<title>Top Brands Of Ply Bazaar |  Search Best Brands</title>*@
    <title>Admin</title>
    <!-- Fav Icon -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Bootstrap -->

    <link href="~/CSS/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/CSS/css/style.css" rel="stylesheet" />
    <link href="~/CSS/flags.css" rel="stylesheet">
    <link href="~/CSS/css/owl.carousel.css" rel="stylesheet" />
    <link rel="stylesheet" href="rs-plugin/css/settings.css">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,300italic,300,400italic,500italic,500,700,700italic" rel="stylesheet" type="text/css">
   <link href="http://plybuy.makeyouonline.com/CSS/adminlogin.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
    <div class="form-horizontal" style="text-align:center; ">
        <div class="contentarea">
            <div class="loginarea">
                <span class="inputHeading" style="font-size:40px;"> Admin Panel</span><br />
                <span style="color:red;text-align:center;">@ViewBag.LoginError</span>
                <table class="loginbox" width="90%" border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                        <td> <img src="~/Images/login.png" alt="" /></td>

                        <td>

                            <table width="100%" border="0" cellpadding="0" cellspacing="0" ng-app="admin" ng-controller="adminctrl">
                                <tr>
                                    <td align="center" style="color:#0000ff;font-weight:normal;"><span class="warning"> </span></td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                              </table>
                        </td>
                    </tr>
                  
                    <tr>
                        <td align="left">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Login" class="btn btn-primary" />
                                </div>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
            </div>
        </div>
        
    }
   
</body>
</html>
