﻿@model MTFTrades.ViewModels.VM_Category

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Manage Category</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
        </div>
    </div>

    @{
        List<SelectListItem> DDLIsActive = new List<SelectListItem>();
        DDLIsActive.Add(new SelectListItem { Value = "True", Text = "True" });
        DDLIsActive.Add(new SelectListItem { Value = "False", Text = "False" });
    }
    <div class="form-group">
        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            <div class="checkbox">
                @Html.DropDownListFor(model => model.IsActive, DDLIsActive, "--Select--", "Text")
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div style="display:none;">
        @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-6">
            <div class="checkbox">
                @Html.EditorFor(model => model.CategoryID)
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Category" class="btn btn-primary" />
        </div>
    </div>
</div>
}

    <div>
        @{ Html.RenderAction("PartialCategoryList", "HomeLayout");}
    </div>
