﻿@model MTFTrades.ViewModels.VM_SubCategory
@using MTFTrades.CommonClasses;
@using MTFTrades.ViewModels;
@{
    ViewBag.Title = "SubCategory";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sub Category</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @{
            CallAPI _CallAPI = new CallAPI();
            List<SelectListItem> DDLCategory = new List<SelectListItem>();
            VM_Category modelcat = new VM_Category()
            {
                CategoryID = 0
            };
            var catlist = _CallAPI.ListCategory(modelcat);
            for (int i = 0; i < catlist.Count; i++)
            {
                DDLCategory.Add(new SelectListItem { Value = catlist[i].CategoryID.ToString(), Text = catlist[i].Name });
            }
        }
        <div style="display:none;">
            @Html.LabelFor(model => model.SubCategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.SubCategoryID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubCategoryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.CategoryID, DDLCategory, "-- Select Category --", "Name")
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubCategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.SubCategoryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubCategoryName, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            List<SelectListItem> DDLIsActive = new List<SelectListItem>();
            DDLIsActive.Add(new SelectListItem { Value = "True", Text = "True" });
            DDLIsActive.Add(new SelectListItem { Value = "False", Text = "False" });
        }
        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="checkbox">
                    @Html.DropDownListFor(model => model.IsActive, DDLIsActive, "--Select--", "Text")
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Sub Category" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<div>
    @{ Html.RenderAction("PartialSubCategoryList", "HomeLayout");}
</div>
