/* CSS Document */
/*------------------------------------------
Project Name : Plybuy
Desgined By  : hassan_malik19
Developed By : Shahin;

------------------------------------------*/
/*********************************************
		base css
*********************************************/
* {
  margin: 0;
  padding: 0;
}

.DatePickerForAds {
    height: 30px;
    width: 130px;
}
 .btn-post:hover {color: #fff;background-color: #ff0000 ;}
.btn.focus, .btn:focus, .btn:hover {color: #fff;text-decoration: none;background-color: #ff0000  !important ;}
.btn {display: inline-blo	ck;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;
touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-top-color: transparent;
border-right-color: transparent;border-bottom-color: transparent;border-left-color: transparent;border-radius: 4px;}
.btn-post {color: #fff;background-color: #ec0003 !important;font-size: 20px !important;padding: 3px 18px !important;margin-top: 3% !important;}
.company_address{clear:both;}
.company_address p{font-size: 16px;line-height: 27px;    text-align: justify;}
.PageHeading  input[type=submit]{margin-bottom:20px; float:left !important}
.PageHeading h4 {
    font-size: 37px;
    font-weight: 600;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 50px;
    color: #00aced;
}
.social-icon a {
    display: inline-block;
    padding: 3px 5px;
    font-size: 22px;
    border: solid 1px #666;
    width: 50px;
    text-align: center;
    transition: all 0.3s ease;
    margin-top: 5px;
}
/*body {
  font-family: 'Open Sans', sans-serif;
}*/
body {
    font-family: Muli !important;
}
.infr img {padding: 5px;box-shadow: 0 0 1px 1px #e8e5e5;width: 100%;margin-bottom: 20px;}

.inf_login {padding: 0 50px 0px 50px;font-family: 'Montserrat';}
.inf_login .form-horizontal{
    background: #fff;
    padding: 20px 0;
}
.inf_login .form-horizontal .form-group{
    margin: 0 0 20px 0;
    position: relative;
}
.inf_login .form-horizontal .form-group:last-child{ margin: 40px 0 0 0; }
.inf_login .form-horizontal .form-group i{
    width: 50px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    color: #c4c4c4;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.inf_login .form-horizontal .form-control{
    height: 45px;
    background: #fff;
    border: 2px solid #d9d9d9;
    box-shadow: none;
    padding: 0 20px 0 50px;
    font-size: 16px;
    color: #7f8291;
    position: relative;
    transition: all 0.3s ease 0s;
}
.inf_login .form-horizontal .form-control[type=password]{ padding: 0 105px 0 50px; }
.inf_login .form-horizontal .form-control:focus{
    box-shadow: none;
    outline: 0 none;
    border-color: #00baf2;
}
.inf_login .form-horizontal .form-control::-webkit-input-placeholder,
.inf_login .form-horizontal .form-control::-moz-placeholder,
.inf_login .form-horizontal .form-control::placeholder{ color: #c4c4c4; }
.inf_login .form-horizontal .form-group label{
    padding: 0 7px;
    background: #00baf2;
    font-size: 13px;
    color: #fff;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    border-radius: 3px;
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 9px;
    left: 15px;
    transition: all 0.3s ease 0s;
}
.inf_login .form-horizontal .form-group:hover label{
    opacity: 1;
    top: -9px;
}
.inf_login .form-horizontal .forgot-pass{
    padding: 5px 10px;
    font-size: 16px;
    font-weight: normal;
    color: #00baf2;
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    right: 10px;
    border-left: 1px solid #d8d8d8;
    transform: translateY(-50%);
}
.inf_login .form-horizontal .signup{
    display: inline-block;
    font-size: 16px;
    color: #8f8f8f;
    text-transform: capitalize;
    margin-top: 8px;
}
.inf_login .form-horizontal .signup a{ color: #00baf2; }
.inf_login .form-horizontal .btn{
    padding: 8px 30px;
    background: #00baf2;
    float: right;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border-radius: 6px;
    text-transform: uppercase;
}
.inf_login .form-horizontal .btn:focus{
    background: #00baf2;
    color: #fff;
}
.inf_login .btn-default:hover {
    color: #fff;
    background-color: #042e6f;
    border-color: #adadad;
}
.inf_login .txarea {
    height: 125px!important;
    padding-top:10px!important;}
.ContactFormtxt{float: right;margin-top: 7px;padding-left: 15px!important;}

.social-icon a {
    display: inline-block;
    padding: 3px 5px;
    font-size: 22px;
    border: solid 1px #666;
    width: 50px;
    text-align: center;
    transition: all 0.3s ease;
    margin-top: 5px;
}

    .social-icon a:hover {
        background: #000;
        border-radius: 30%;
        transition: all 0.3s ease;
        color: #ccc
    }

    .social-icon a.facebook:hover {
        background: #3a559f;
        border-color: #fff;
    }

    .social-icon a.twitter:hover {
        background: #04a9f4;
        border-color: #fff;
    }

    .social-icon a.linkedin:hover {
        background: #ff0000;
        border-color: #fff;
    }

    .social-icon a.instagram:hover {
        background: #8335ad;
        border-color: #fff;
    }

    .social-icon a.google-plus:hover {
        background: #DD4B39;
        border-color: #fff;
    }
.innerpage-banner {
    min-height: 180px;
    background: url(/images/contactus.jpg) no-repeat center -143px;
    background-size: cover;
    position: relative;
}

    .innerpage-banner .bg_layer {
        background: rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .innerpage-banner .pageheading {
        font-size: 35px;
        padding-top: 38px;
        line-height: 45px;
        margin-bottom: 0px;
        color: #fff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
.firstBlock {
    width: 33%;
    float: left;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
	color:#fff;
}

.SecondBlock {
    width: 30%;
    float: left;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
	color:#fff;
}

.ThirdBlock {
    width: 37%;
    float: left;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
	color:#fff;
}

img {
  max-width: 100%;
}

a {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.countty{height: 45px;
    color: #000 !important;
    padding: 10px 15px;
    background: transparent;
    border: 1px solid #ddd !important;
    outline: none;
    position: relative;}
ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
}

.heading-title {
  color: #0099e5;font-size: 40px;margin-bottom: 15px;text-align: center;font-family: 'Ubuntu Condensed', sans-serif;}
.heading-title::before, .heading-title::after {

    width: 170px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: #000;
    margin: 0 1%;

}
.ControlLabel {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
    font-weight: bold;
}
.plyCategory {
  
 margin:10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  
}
.CategoryNav{font-size: 20px;background-color: #e9e9e9;padding: 5px;}

.plyCategory :hover {
  border-color: #337ab7;
}
.category-title {
  text-align: center;
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  padding: 15px 0;
    background: #00aced;
}

.heading-text {
  text-align: center;
  font-size: 16px;
  color: #656565;
  padding-top: 10px;
}
.parallax-section {

    background-attachment: fixed !important;
    font-size: 17px;

}
.about-sec {

    background: url(http://cleaningsolutions.makeyouonline.com/images/slider.jpg) no-repeat center center;
        background-attachment: scroll;
        background-size: auto auto;
    background-size: cover;
    color: #fff;
    text-align: justify;
    position: relative;
    padding-bottom: 70px;
    font-size: 18px;
   
}
.about-sec p {

    font-size: 14px;
    line-height: 24px;
    color: #fff;

}
.about-sec h4 {

    font-size: 40px;
    font-weight: 600;
    margin-top: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 25px;

}
.about-sec::before {

    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(22, 122, 192, 0.9);
    top: 0;
    left: 0;

}
h1 {
  font-size: 45px;
}

h2, .h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
/*************************************************/
                /*input field Error*/
/*************************************************/
.InputFieldError{
    color:red;
}
.InputFieldNoError{
    color:white;
}
/****************************************************
			    top bar css
****************************************************/
.topbar-wrap {
    background: #f2f2f2;
    padding: 2px 0;
}

.user-wrap ul {
  padding-top: 5px;
}
.user-wrap ul li {
  display: inline-block;
  margin-right: 10px;
}
.user-wrap ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}

/*social-wrap*/
.social-wrap {
  list-style: none;
  float: right;
  margin-bottom: 0;
}

.social-wrap li {
  display: inline-block;
  padding: 0 1px;
}

.social-wrap li a {
  text-decoration: none;
  font-size: 22px;
}

.social-wrap li:nth-child(1) a {
  color: #3a7ae6;
}

.social-wrap li:nth-child(2) a {
  color: #33ccff;
}

.social-wrap li:nth-child(3) a {
  color: #dc4a38;
}

.social-wrap li:nth-child(4) a {
  color: #0274b3;
}

.social-wrap li:nth-child(5) a {
  color: #41b2dc;
}

/****************************************************
			    header css
****************************************************/
.header-wrap .logo {
  padding-top: 14px;
}

.navbar-default {
  background: none;
  border: none;
}

.navbar {
  margin-bottom: 0;
  min-height: 32px;
}

.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 25px 15px;
  color: #676767;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background: #E21519;
}

.navbar-default .navbar-nav > li > a.active {
  color: #fff;
  background: #E21519;
}

.post-btn {
  float: right;
  padding-top: 13px;
}

.post-btn a {
  text-decoration: none;
  background: #43A1D8;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  color: #fff;
  padding: 12px 20px;
  font-weight: bold;
}

.post-btn a:hover {
  background: #E21519;
}

.navbar-nav li:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  background: #fff !important;
  border-top: none;
  padding: 0;
  border-bottom: 7px solid #E21519;
  border-top: 5px solid #E21519;
  min-width: 200px;
  border-left: none;
  border-right: none;
}

.dropdown-menu > li {
  border-bottom: 1px solid #efefef;
}

.dropdown-menu > li:last-child {
  border-bottom: none;
}

.dropdown-menu > li > a {
  color: #231f20;
  font-size: 14px;
  padding: 8px 20px 8px 28px;
  position: relative;
}

.dropdown-menu > li > a:hover {
  color: #FFF;
  background: #E21519;
}

.dropdown-menu > li a:before {
  content: "\f0da";
  font-family: 'FontAwesome';
  position: absolute;
  top: 9px;
  left: 11px;
  color: #000;
}

.dropdown-menu > li:hover > a:before {
  color: #fff;
}

.header-wrap .post-btn input {
  height: 45px;
  color: #000 !important;
  padding: 10px 15px;
  background: transparent;
  border: 1px solid #ddd !important;
  outline: none;
  position: relative;
}
.header-wrap .post-btn input:focus {
  box-shadow: none;
  border: 1px solid #777;
  outline: none;
}
.header-wrap .post-btn input::placeholder {
  color: #000 !important;
}
.header-wrap .post-btn i {
  position: absolute;
  top: 26px;
  right: 26px;
  color: #000;
  cursor: pointer;
  font-size: 15px;
}

/****************************************************
			    slider css
****************************************************/
.slider-wrap {
  background: url(/images/slider-bg.jpg) no-repeat top;
  background-size: cover;
  padding: 110px 0;
}

.sliderTxt h1 {
  font-size: 60px;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  font-weight: 600;
  padding: 0;
  margin: 0;
  text-align: center;
}

.sliderTxt p {
  font-size: 24px;
  line-height: 24px;
  margin: 0 auto;
  color: #fff;
  padding: 5px 0;
  font-weight: 300;
  max-width: 780px;
  margin-top: 10px;
}

.form-wrap {
  width: 820px;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 12px rgba(255, 255, 255, 0.27);
}

.input-group .form-control {
  border: none;
  border-radius: 5px 0 0 5px !important;
  height: 60px;
}

.input-group .dropdown {
  height: 60px;
  width: 100%;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
}

.input-btn {
  text-align: right;
}

.sbutn {
  background: #E21519;
  border: none;
  padding: 18px 68px;
  text-transform: uppercase;
  font-size: 17px;
  color: #fff;
  border-radius: 0px 5px  5px 0;
  font-weight: bold;
}

.sbutn:hover {
  background: #333;
}

.input-group {
  border-right: 1px solid #ccc;
  width: 100%;
}

.form-wrap .col-md-3 {
  padding: 0;
}

.formWrp {
  padding: 60px 0;
}

.map-wrap iframe {
  margin-bottom: -5px;
}

/*********************************************
			Custom slider options
**********************************************/
.tp-banner-container {
  position: relative;
  z-index: 1;
  padding: 0;
  width: 100%;
}

.tp-banner {
  position: relative;
  width: 100%;
}

.tp-caption {
  line-height: normal !important;
}

.tp-caption a {
  color: inherit !important;
}

.tp-bullets.simplebullets.round .bullet {
  border: 3px #fff solid;
  border-radius: 50%;
  background-image: none !important;
}

.tparrows {
  width: auto !important;
  height: auto !important;
  background-image: none !important;
}

.tp-arr-allwrapper {
  margin: 0 10px;
  width: 50px;
  height: 60px;
  background: rgba(255, 255, 255, 0.5);
}

.tp-arr-allwrapper:hover .tp-arr-iwrapper {
  color: #fff;
}

.tp-arr-iwrapper {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-family: FontAwesome;
  line-height: 60px;
}

.tp-leftarrow .tp-arr-iwrapper:before {
  content: "\f104";
}

.tp-rightarrow .tp-arr-iwrapper:before {
  content: "\f105";
}

.slide-h1 {
  margin: 5px 0 !important;
  padding: 0 0 10px !important;
  padding-bottom: 5px !important;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 57px;
}

.slide-h2 {
  margin: 5px 0 !important;
  padding: 0 0 10px !important;
  padding-bottom: 5px !important;
  color: #555;
  font-weight: bold;
  font-size: 55px;
  line-height: 100%;
}

.big-font {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 60px;
}

.large-desc {
  font-size: 16px;
}

.slide-h3 {
  color: #fff;
  font-size: 31px;
  line-height: 100%;
}

.slide-h3 span {
  text-transform: uppercase;
  font-weight: bold;
}

.slide-head {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
}

.slide-desc {
  font-size: 22px;
  line-height: 150%;
}

.main-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 70px;
}

.icon-cont {
  padding: 15px 40px;
  border-radius: 10px;
  text-align: center;
}

.icon-cont:after {
  position: absolute;
  bottom: -10px;
  left: 40%;
  z-index: 5;
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 10px 10px 0 10px;
  border-style: solid;
  content: "";
}

.icon-cont i {
  margin-bottom: 10px;
  color: #fff;
  font-size: 50px;
}

.icon-cont span {
  display: block;
  padding: 0 0 5px;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

a.wit-btn {
  background: #fff;
  color: #333 !important;
  text-transform: uppercase;
}

.wit-line {
  width: 5%;
  height: 1px;
  background: #fff;
}

.vert-line {
  min-height: 270px;
  width: 1px;
  background: #fff;
}

.subTxt {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  color: #333;
}

.large-title {
  color: #222;
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase !important;
}

.large-light-title {
  color: #787878 !important;
  font-size: 70px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.large-text {
  font-size: 20px;
  color: #000;
  font-weight: lighter;
}

.larger-text {
  font-size: 24px;
  font-weight: lighter;
  text-transform: uppercase;
}

.witTxt {
  color: #fff !important;
}

.light-font {
  font-weight: lighter !important;
  font-size: 50px;
}

.black-bg {
  background: rgba(0, 0, 0, 0.63);
  color: #a8a8a8;
  text-transform: none;
}

.lft-list {
  padding: 10px;
  font-size: 18px;
  color: #fff;
}

.wit-border {
  border: 1px #fff solid;
  padding: 15px 60px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.rounded-bord {
  margin-right: 15px;
  border: 1px #fff solid;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  border-radius: 50%;
}

#vertical-ticker {
  height: 120px;
  overflow: hidden;
}

#vertical-ticker li {
  padding: 15px 20px;
  display: block;
  text-align: center;
}

.to-bottom i.fa {
  font-size: 30px;
  border: 2px #a8a8a8 solid;
  padding: 20px 22px;
  border-radius: 50%;
  -webkit-animation: bounce 2s infinite linear;
  animation: bounce 2s infinite linear;
}

.tp-bannertimer {
  display: none;
}

.slidertext2 {
  color: #fff;
  font-size: 46px;
  font-weight: normal;
  text-transform: none !important;
  text-align: left;
  text-shadow: 0 0 1px rgba(24, 24, 24, 0.75);
  font-family: 'Ubuntu', sans-serif;
}

.slidertext3 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  text-shadow: 0 0 1px rgba(24, 24, 24, 0.75);
  font-family: 'Ubuntu', sans-serif;
}

.slidertext6 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: none !important;
  text-align: left;
  text-shadow: 0 0 1px rgba(24, 24, 24, 0.75);
}

.slidertext7 a {
  color: #fff !important;
  font-size: 18px;
  font-weight: 700;
  padding: 14px 36px;
  border-radius: 5px;
  text-transform: uppercase !important;
  text-align: left;
  background: #E21519;
  font-family: 'Ubuntu', sans-serif;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}
/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}
/* Opera 12.0 */
@-o-keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}
/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}
/****************************************************
			    Feature css
****************************************************/
.feature-wrap {
  padding: 0px 0 70px 0;
}

.feature-wrap .heading-text {
  margin-bottom: 20px;
}

.feature-service {
  list-style: none;
}

.feature-service > li {
  display: inline-block;
  margin: 15px 0;
}

.feature-service .feature-image img {
  border-radius: 5px 5px 0 0;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #f1f1f1;
}

.feature-service .feature-image {
  overflow: hidden;
}

.feature-service > li:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.featureList i {
  margin-right: 5px;
}

.feature {
  background: #f2f2f2;
  border-radius: 0 0 5px 5px;
}

.feature .feat-bg {
  padding: 15px;
}

.feature h3 {
  margin: 0;
  min-height: 52px;
}

.feature h3 a {
  color: #43A1D8;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

.feature h3 a:hover {
  color: #000;
}
 .feature-image a:hover{ position: relative;color: #000;}
.feature-image {
border-radius: 11px;

-webkit-transition: border .2s ease-in-out;

-o-transition: border .2s ease-in-out;

transition: border .2s ease-in-out;

background-color: #fff;
border: 1px solid #E1E1E1;

border-radius: 0;

background: #FFF;
 

min-height: 143px;
}
.Category {
  font-size: 25px;
margin-top: 20%;
  background: #fff;
  padding: 6px 12px;
  color: #000;
  font-weight: bold;
  border: 1px solid #fff;
  border-left: none;
  width: 100%;
  text-align: center;
}
.Category a {
  color:#0099e5;
  text-decoration: none;
}
.price {
  font-size: 20px;
margin-top: 30%;
  background: #fff;
  padding: 6px 12px;
  color: #000;
  font-weight: bold;
  border: 1px solid #fff;
  border-left: none;
  width: 100%;
  text-align: center;
}
.price a {
  color: #000;
  text-decoration: none;
}

.feature-detail {
  border-top: 1px solid #e0e0e0;
}

.featureList {
  list-style: none;
  padding: 10px 15px;
}

.featureList li {
  display: inline-block;
  padding: 0 8px;
  border-left: 1px solid #e0e0e0;
}

.featureList li:nth-child(1) {
  padding-left: 0;
  border-left: none;
}

.view-btn {
  text-align: center;
  margin-top: 40px;
}

.view-btn a {
  text-decoration: none;
  background: #E21519;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  color: #fff;
  padding: 14px 24px;
  font-weight: bold;
}

.view-btn a:hover {
  background: #43A1D8;
}

/****************************************************
			    Categories css
****************************************************/
.categories-wrap {
  background: #f7f7f7;
  padding: 40px 0 20px 0;
}

.categories-service {
  list-style: none;
   text-align: center;
}

.categories-service > li {
  margin: 15px 0;
}

.categories {
  list-style: none;
  margin-bottom: 10px;
}

.categorybox:hover {
  border: 1px solid #E21519;
}

.categorybox:hover .icon {
  background: #E21519;
}

.categorybox:hover h4 a {
  color: #E21519;
}

.categories li {
  margin: 18px 0;
}

.categories li a {
  font-size: 14px;
  color: #888888;
  text-decoration: none;
}

.categories li a:hover {
  color: #E21519;
}

.categorybox {
  border: 1px solid #e8e5e5;
  border-radius: 5px;
  background: #fff;
  padding: 0 15px 15px 15px;
}

.icon {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background-color: #43A1D8;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 40px;
  line-height: 100px;
  margin-top: -50px;
}

.categories-service h4 {
  margin-top: 18px;
}

.categories-service h4 a {
  font-size: 18px;
  color: #3f3d59;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.categories-service h4 a:hover {
  color: #E21519;
}

/*********************************************
		Testimonials css
*********************************************/
.testimonials-wrap {
  background: url(/images/testimonials-bg.jpg) no-repeat;
  padding: 50px 0;
  background-size: cover;
}

.testimonials-wrap .heading-title {
  color: #fff;
  margin-bottom: 30px;
}

.testimonials-wrap .main-heading:before {
  left: 50%;
  margin-left: -40px;
  background: #fff;
}

.testimonials li {
  margin: 10px;
  margin-top: 20px;
}

.testi-info {
  background: #fff;
  padding: 40px 30px 30px 50px;
  position: relative;
  margin-bottom: 50px;
}

.testi-info p {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  font-style: italic;
  color: #696969;
}

.testi-info p:before {
  content: "\f10d";
  font-family: 'FontAwesome';
  position: absolute;
  top: -5px;
  left: -29px;
  color: rgba(255, 120, 0, 0.29);
  font-size: 43px;
  font-style: normal;
}

.name {
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

.name span {
  display: block;
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.client-image img {
  border-radius: 100%;
  border: 2px solid #fff;
}

.client-image {
  position: absolute;
  bottom: -50px;
  right: 40px;
}

.test .testi-info {
  background: #eee;
}

.test .client-image img {
  border: 2px solid #eee;
}

.test li {
  margin: 0;
  margin-top: 20px;
}

/****************************************************
			    Business css
****************************************************/
.business-wrap {
  padding: 60px 0;
}

.business-service {
  list-style: none;
  text-align: center;
}

.business-service li {
  padding: 0 26px;
}

.business-service h3 {
  font-size: 18px;
  color: #3f3d59;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

.business-service p {
  font-size: 14px;
  color: #888888;
  line-height: 24px;
}

.business-image {
  -webkit-border-radius: 94px;
  -moz-border-radius: 94px;
  border-radius: 94px;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 16px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 7px 16px rgba(0, 0, 0, 0.17);
  box-shadow: 0 7px 16px rgba(0, 0, 0, 0.17);
  display: inline-block;
  padding: 30px;
}

/****************************************************
			    Footer css
****************************************************/
.footer-wrap {
  background: url(/images/footer-bg.jpg) no-repeat top;
  padding-top: 13px;
  background-size: cover;
}

.footer-wrap h3 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.footer-wrap p {
  font-size: 14px;
  line-height: 24px;
  color: #b3b3b3;
  margin-top: 15px;
}

.footer-wrap p a {
  color: #fff;
  text-decoration: underline;
  font-style: italic;
}

.footer-wrap p a:hover {
  text-decoration: none;
  color: #E21519;
}

.footer-wrap .start-btn {
  text-align: left;
  margin-top: 15px;
}

.footer-wrap .start-btn a {
  width: 160px;
  font-size: 16px;
  height: 49px;
}

.footer-wrap .start-btn a:hover {
  background: #FFF;
  color: #000;
}

.footer-links {
  list-style: none;
}

.footer-links li a {
  font-size: 14px;
  line-height: 26px;
  color: #b3b3b3;
  text-decoration: none;
}

.footer-links li a:hover {
  color: #E21519;
}

.footer-links li:before {
  content: "\f105";
  font-family: 'FontAwesome';
  padding-right: 10px;
  color: #b3b3b3;
}

.footer-category {
  list-style: none;
}

.footer-category li {
  float: left;
  width: 50%;
}

.footer-category li a {
  font-size: 14px;
  line-height: 26px;
  color: #b3b3b3;
  text-decoration: none;
}

.footer-category li a:hover {
  color: #E21519;
}

.footer-category li:before {
  content: "\f105";
  font-family: 'FontAwesome';
  padding-right: 10px;
  color: #b3b3b3;
}

.address {
  font-size: 14px;
  color: #b3b3b3;
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  line-height: 30px;
}

.address:before {
  content: "\f277";
  font-family: 'FontAwesome';
  position: absolute;
  top: 0;
  left: 0;
}

.info a {
  font-size: 14px;
  color: #b3b3b3;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.info i {
  padding-right: 8px;
  color: #b3b3b3;
}

.copyright {
  border-top: 1px solid #5f5f5f;
  font-size: 14px;
  color: #b3b3b3;
  margin-top: 25px;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}

/****************************************************
			    Inner heading css
****************************************************/
.inner-heading {
  padding: 25px 0;
  background: #00aced;
}

.inner-heading h1 {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

/****************************************************
			    Inner wrap css
****************************************************/
.inner-wrap {
  padding: 60px 0;
}

.about h1 {
  margin-top: 0;
}

/****************************************************
			    Contact css
****************************************************/
.contact-info {
  margin-bottom: 40px;
}

.contact-info .contactWrp {
  text-align: center;
}

.contact-info .contact-icon i {
  display: inline-block;
  font-size: 35px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  color: #43A1D8;
  border-radius: 100%;
  box-shadow: 0 0px 0px 2px #43A1D8 inset;
  margin-bottom: 20px;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.contact-info .contactWrp:hover .contact-icon i {
  box-shadow: 0 0px 0px 46px #E21519 inset;
  color: #fff;
}

.contact-info .contactWrp {
  background: #f5f5f5;
  padding: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  border: 5px solid #fff;
}

.contact-info .contactWrp h5 {
  font-size: 18px;
  color: #43A1D8;
  font-weight: bold;
}

.contact-info .contactWrp p {
  font-size: 14px;
  color: #a2a2a2;
}

.input-wrap .form-control {
  height: 45px;
  padding: 6px 36px;
  border-radius: 5px;
}

.input-wrap {
  margin-bottom: 15px;
  position: relative;
}

.form-icon {
  position: absolute;
  top: 13px;
  left: 15px;
}

.input-wrap textarea.form-control {
  height: 120px;
  padding: 12px 36px;
}

.contact-btn .sub {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background: #43A1D8;
  color: #fff;
  font-size: 16px;
  border: none;
  font-weight: bold;
}

.contact-btn .sub i {
  padding-right: 15px;
}

.contact-btn .sub:hover {
  background: #E21519;
}

.mapWrp iframe {
  width: 100%;
}

/****************************************************
			Pricing Table css
****************************************************/
.price-box {
  text-align: center;
  background: #f3f3f3;
  border-radius: 5px;
  padding: 25px 0;
  border: 1px solid #ececec;
}

.price-box h3 {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.price-service {
  list-style: none;
  margin-top: 30px;
}

.price-service li {
  font-size: 14px;
  line-height: 36px;
}

.price-tbl {
  margin-top: 20px;
  font-weight: bold;
  font-size: 24px;
  color: #303030;
  background: #43A1D8;
  color: #fff;
  padding: 15px 0;
}

.pricingWrp li:hover .price-tbl {
  background: #E21519;
}

.pricingWrp li:hover .view-btn a {
  background: #43A1D8;
}

.price-tbl span {
  font-size: 14px;
  font-style: italic;
}

.per-month {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 18px;
}

.price-box .view-btn {
  margin-top: 10px;
}

.price-box .view-btn a {
  padding: 10px 24px;
}

/****************************************************
			Login css
****************************************************/
.login {
  border: 8px solid #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.17);
  padding: 24px;
}

.login .form-control {
  padding: 6px 16px;
}

.contctxt {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 18px;
  font-family: 'Ubuntu', sans-serif;
}

.login .sbutn {
  padding: 12px 0;
  width: 100%;
  border-radius: 5px;
}

.newuser {
  margin-top: 30px;
  text-align: center;
  color: #666;
  font-size: 18px;
}

.newuser a {
  font-weight: 600;
}

/****************************************************
			Detail page css
****************************************************/
.innerslider {
  margin-bottom: 30px !important;
}

.featureLinks li {
  float: left;
  width: 50%;
  font-size: 16px;
  color: #000;
  margin-top: 10px;
  position: relative;
  padding-left: 25px;
}

.featureLinks li:before {
  content: "\f061";
  font-family: 'FontAwesome';
  position: absolute;
  top: 0;
  left: 0;
  color: #E21519;
}

.sidebarWrp .innerprice {
  position: static;
  background: #E21519;
  padding: 14px 0;
  font-size: 30px;
  position: relative;
  padding-left: 96px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.sidebarWrp .innerprice:before {
  content: "\f155";
  font-family: 'FontAwesome';
  position: absolute;
  top: 50%;
  left: 27px;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 24px;
  margin-top: -25px;
}

/****************************************************
			Detail SidebarWrp css
****************************************************/
.phone {
  background: #43A1D8;
  padding: 14px 0;
  font-size: 30px;
  position: relative;
  padding-left: 96px;
  color: #fff;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.sidebarWrp .phone:before {
  content: "\f095";
  font-family: 'FontAwesome';
  position: absolute;
  top: 50%;
  left: 27px;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 24px;
  margin-top: -25px;
}

.userinfo {
  background: #eee;
  padding: 30px 0px;
  text-align: center;
}

.userinfo h3 {
  margin-bottom: 0;
}

.userinfo p {
  margin-bottom: 5px;
}

.readmore a {
  display: inline-block;
  font-size: 14px;
  text-decoration: underline;
  color: #E21519;
  font-weight: bold;
}

.readmore a:hover {
  text-decoration: none;
}

.userinfo .icon {
  margin-top: 0;
}

.map {
  margin-top: 30px;
}

.safety-tips {
  background: #eee;
  padding: 30px 24px;
  margin-top: 30px;
}

.safety-tips .featureLinks li {
  float: none;
  width: auto;
}

.safety-tips h3 {
  margin-top: 0;
}

/****************************************************
			Listing css
****************************************************/
.listing .form-wrap {
  width: auto;
  margin: 0;
}

.listing .form-control {
  border: 1px solid #ddd;
  height: 44px !important;
  padding: 6px 14px;
}

.listing .sbutn {
  padding: 10px 68px;
}

.header-listing h4 {
  float: left;
  margin-right: 20px;
}

.header-listing .form-control {
  width: 70%;
}

/****************************************************
			LeftSidebar css
****************************************************/
.leftSidebar {
  border: 2px solid #fff;
  background: #f3f3f3;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.14);
}

.leftSidebar h3 {
  font-size: 22px;
  margin: 0;
  background: #43A1D8;
  padding: 12px;
  color: #fff;
}

.sidebarpad {
  padding: 15px;
}

.sidebarpad .input-wrap .form-control {
  border-radius: 5px !important;
  margin-bottom: 7px;
}

.leftSidebar h4 {
  font-size: 14px;
}

.leftSidebar label {
  font-weight: normal;
}

.leftSidebar label span {
  position: absolute;
  top: 0;
  right: 0;
}

.check li {
  position: relative;
  margin: 7px 0;
}

.leftSidebar .sbutn {
  padding: 12px 0;
  width: 100%;
  border-radius: 5px;
}

.ad {
  margin-top: 30px;
  text-align: center;
}

/****************************************************
			Listing service css
****************************************************/
.listing-service {
  border: 1px solid #ddd;
  padding: 10px;
}

.listing-service h3 {
  margin-top: 0;
}

.listing-service h3 a {
  color: #E21519;
  text-decoration: none;
}

.listWrpService {
  border: 2px solid #fff;
  padding: 15px;
  background: #f3f3f3;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.14);
  margin: 15px 0;
}

.listWrpService:hover {
  border: 2px solid #E21519;
}

.listService h3 {
  margin-top: 0;
}

.listService h3 a {
  text-decoration: none;
  color: #43A1D8;
}

.listService h3 a:hover {
  color: #E21519;
}

.listService .view-btn {
  margin: 0;
  text-align: left;
}

.listService .view-btn a {
  padding: 8px 20px;
  font-size: 14px;
}

.location {
  margin-bottom: 10px;
}

.dollar {
  text-align: right;
  font-size: 24px;
  font-weight: bold;
  color: #E21519;
}

.listImg {
  overflow: hidden;
  border: 2px solid #fff;
  display: inline-block;
}

.listImg img {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.listService li:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.grid .listImg {
  position: relative;
}

.grid h3 {
  margin-top: 15px;
}

/************************************************
           Sort by css
*************************************************/
.sortbybar {
  margin-bottom: 20px;
}

.listby {
  font-size: 20px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 12px;
  color: #747474;
}

.listby:hover {
  color: #000;
}

.sortbybar .input-group-addon {
  background: none;
  border: none;
  padding: 0 10px 0 0;
  font-weight: 700;
}

.sortbybar .form-control {
  border-radius: 0;
  height: auto;
  padding: 9px 15px;
  line-height: 40px;
}

.sortbybar .found {
  text-align: right;
  font-weight: 700;
  color: #929292;
  margin-top: 5px;
  line-height: 20px;
}

.sortbybar .found strong {
  display: block;
  color: #333;
}

.sortbybar .foundsb {
  text-align: left;
  font-weight: 700;
  color: #929292;
  margin-top: 5px;
}

.sortbybar .foundsb strong {
  display: block;
  color: #333;
}

.sortbybar .found.maptext {
  text-align: center;
  line-height: 20px;
}

.sortbar {
  background: #eee;
  padding: 12px 20px;
}

.listingBar {
  float: right;
}

.listIcon {
  float: left;
  margin-right: 6px;
  padding-top: 10px;
}

.listIcon a {
  text-decoration: none;
  background: #666;
  padding: 6px 10px;
  color: #fff;
  font-size: 18px;
}

.boxesIcon {
  float: left;
  padding-top: 10px;
}

.boxesIcon a {
  text-decoration: none;
  background: #666;
  padding: 6px 10px;
  color: #fff;
  font-size: 18px;
}

/*********************************************
	 Pagination-wrap
**********************************************/
.pagiWrap .showreslt {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

.pagiWrap .pagination {
  text-align: right;
  margin: 0;
  float: right;
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
  border-radius: 0;
}

.pagination li a:hover, .pagination li.active a {
  background: #43A1D8;
  border: 1px solid #43A1D8;
  color: #fff;
}

.pagination > .active > a:hover {
  background: #43A1D8;
  border: 1px solid #43A1D8;
  color: #fff;
}

.pagination > li > a, .pagination > li > span {
  color: #000;
}

/*********************************************
	 Ad Post
**********************************************/
.conForm textarea.form-control {
  padding: 12px 16px;
  height: 150px !important;
}

.conForm .input-group {
  border-right: none;
}

.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.image-preview-input-title {
  margin-left: 2px;
}

.conForm .btn {
  padding: 11px;
}

.persional {
  margin-top: 20px;
}

#upload {
  padding: 9px 14px;
}

/*********************************************
	 Blog css
**********************************************/
.blogList {
  list-style: none;
}

.blogList li {
  background: #fff;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #e4e4e4;
}

.blogList li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-color: #fdc236;
}

.blogList li .postimg {
  position: relative;
  display: inline-block;
}

.blogList li .postimg:before {
  background: #4d1ca7;
  bottom: 0px;
  content: "";
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  transform: scale(0);
  transition: all 300ms ease 0s;
  opacity: 0.5;
  z-index: 1;
}

.blogList li:hover .postimg:before {
  transform: scale(1);
}

.blogList li .postimg .date {
  font-size: 16px;
  position: absolute;
  left: 0;
  bottom: 8px;
  background: #43A1D8;
  padding: 6px 12px;
  color: #fff;
  font-weight: bold;
  border: 1px solid #fff;
  border-left: none;
  z-index: 1000;
}

.blogdetail h4 {
  font-size: 24px;
  margin-top: 20px;
}

.post-header h4 a {
  font-size: 24px;
  color: #43A1D8;
  font-weight: 600;
  text-decoration: none;
}

.post-header h4 a:hover {
  color: #E21519;
}

.postmeta {
  margin: 10px 0 10px 0;
  font-size: 14px;
}

.postmeta span, .postmeta a {
  color: #E21519;
}

.blogList li p {
  font-size: 14px;
  line-height: 24px;
  color: #777;
}

.blogList li .view-btn {
  text-align: left;
  margin-top: 10px;
}

.blogList li .view-btn a {
  font-size: 14px;
  padding: 10px 22px;
}

/*********************************************
	 Side-bar
**********************************************/
.sidebar {
  background: #fff;
  border: 1px solid #e4e4e4;
  padding: 20px;
  margin-bottom: 30px;
}

.sidebar .widget {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.sidebar .widget-title {
  font-size: 18px;
  font-weight: 600;
  color: #666;
  margin-bottom: 20px;
}

/*********************************************
	 Sidebar-Search css
**********************************************/
.search {
  position: relative;
  margin-bottom: 15px;
}

.search .form-control {
  border-radius: 0;
  height: auto;
  padding: 10px 12px;
  border-color: #ddd;
}

.search .btn {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0;
  background: none;
  font-size: 20px;
}

/*********************************************
	 Categories css
**********************************************/
.sidebar .categories li {
  margin-bottom: 15px;
  position: relative;
  padding-left: 16px;
}

.sidebar .categories li a {
  margin-top: 0;
  color: #888;
  font-size: 14px;
  font-weight: 600;
}

.sidebar .categories li a:hover {
  color: #43A1D8;
}

.sidebar .categories li:before {
  content: "\f0da ";
  font-family: 'FontAwesome';
  position: absolute;
  left: 0px;
  color: #000;
  font-size: 12px;
  top: 3px;
}

/*********************************************
	 Archives css
**********************************************/
.archive li {
  line-height: 45px;
}

.archive li a {
  margin-top: 0;
  color: #888;
  font-size: 14px;
  font-weight: 600;
}

.archive li span {
  float: left;
  height: 30px;
  width: 30px;
  text-align: center;
  background: #f5f5f5;
  border: 1px solid #fff;
  outline: 3px solid #f5f5f5;
  margin-right: 20px;
  line-height: 26px;
  font-size: 12px;
  color: #777777;
  margin-top: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.archive li a:hover span {
  background: #43A1D8;
  color: #fff;
}

/*********************************************
	 Popular Posts css
**********************************************/
.papu-post .media-left {
  margin-right: 0px;
}

.papu-post .media-left img {
  width: 100%;
}

.papu-post .media-left a {
  width: 80px;
  margin-top: 0;
  margin-right: 5px;
  display: inline-block;
}

.papu-post span {
  color: #000;
  letter-spacing: 0px;
  font-size: 11px;
}

.papu-post li {
  border-bottom: 1px solid #ececec;
  padding: 20px 0;
  margin: 0px;
}

.papu-post .media-heading {
  display: inline-block;
  width: 100%;
  color: #777777;
  margin-top: 0px;
  font-size: 14px;
  line-height: 20px;
}

.papu-post li:last-child {
  border-bottom: 0;
}

/*********************************************
	 Tags css
**********************************************/
.tags:after {
  display: table;
  clear: both;
  content: '';
}

.tags li {
  display: inline-block;
  float: left;
}

.tags a {
  font-size: 13px;
  color: #969595;
  border: 1px solid #dadada;
  padding: 7px 10px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.tags a:hover {
  border: 1px solid #43A1D8;
  background: #43A1D8;
  color: #fff;
  text-decoration: none;
}

/*********************************************
	 Photo Gallery css
**********************************************/
.photo-steam {
  margin: 0 -5px;
}

.photo-steam:after {
  display: table;
  clear: both;
  content: '';
}

.photo-steam li {
  float: left;
  width: 25%;
  padding: 0 5px;
  margin-bottom: 10px;
}

/*********************************************
	 blog-grid css
**********************************************/
.blogGrid li {
  margin-bottom: 30px;
}

.blog-inter {
  background: #fff;
  padding: 20px;
  border: 1px solid #e4e4e4;
}

.blogGrid li .postimg {
  position: relative;
}

.blogGrid li .postimg .date {
  font-size: 16px;
  position: absolute;
  left: 0;
  bottom: 8px;
  background: #43A1D8;
  padding: 6px 12px;
  color: #fff;
  font-weight: bold;
  border: 1px solid #fff;
  border-left: none;
  z-index: 1000;
}

.blogGrid li .postimg:before {
  background: #43A1D8;
  bottom: 0px;
  content: "";
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  transform: scale(0);
  transition: all 300ms ease 0s;
  opacity: 0.5;
  z-index: 1;
}

.blogGrid li:hover .postimg:before {
  transform: scale(1);
}

.blogGrid .view-btn {
  text-align: left;
  margin-top: 15px;
}

.blogGrid .view-btn a {
  color: #fff;
  padding: 10px 22px;
  font-size: 14px;
}

/*********************************************
	 Faqs css
**********************************************/
.faqsWrp h2 {
  margin-top: 0;
}

.faq-news .main-heading:before {
  content: " ";
  width: 70px;
}

.faqs-service {
  list-style: none;
  margin-top: 20px;
}

.faqs-service li {
  margin-bottom: 8px;
}

.faqs-service li h4 {
  font-size: 1.7em;
  background: #f5f5f5;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  color: #5f5b67;
  border: 1px solid #dddddd;
  padding: 16px 25px;
  position: relative;
  margin-bottom: 0;
}

.faqs-service li h4:before {
  content: "\f055";
  font-family: 'FontAwesome';
  color: #E21519;
  margin-right: 10px;
  font-size: 1em;
  display: inline-block;
  text-align: center;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  position: absolute;
  top: 20px;
  right: 8px;
}

.faqs-service li h4:hover, .faqs-service li h4.active {
  color: #fff;
  background: #43A1D8;
  border: 1px solid #014888;
}

.faqs-service li h4:hover:before {
  color: #fff;
}

.faqs-service li h4.active:before {
  content: "\f056";
  color: #fff;
}

.faqs-service li p {
  height: auto;
  overflow: hidden;
  position: relative;
  padding: 20px 18px;
  line-height: 24px;
  margin-bottom: 0;
  font-size: 1.2em;
  color: #797979;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
}

.faq-news .view-btn {
  text-align: center;
}

.faq-news .view-btn a {
  background: #cb171e;
  display: inline-block;
}

.faq-news .view-btn a:hover {
  background: #000;
  color: #fff;
}

.faq-head {
  margin-top: 30px !important;
}

/*********************************************
	 404 page css
**********************************************/
.four-zero-page {
  text-align: center;
  padding: 0 0 50px 0;
}

.four-zero-page h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 300px;
  color: #43A1D8;
  font-weight: 800;
}

.four-zero-page h3 {
  color: #111111;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 10px;
}

.four-zero-page p {
  letter-spacing: 2px;
  padding: 0 250px;
}

.four-zero-page .readmore {
  margin-top: 30px;
}

/*********************************************
	 Typoghrapy css
**********************************************/
.typoghrapy h5, h6 {
  font-weight: bold;
}
.SliderImageHeight{min-height:430px}
/*********************************************
	 Media Screen css
**********************************************/
@media screen and (max-width: 1200px) {
  .navbar-default .navbar-nav > li > a {
    padding: 25px 8px;
  }

  .post-btn a {
    padding: 12px 12px;
  }

  .categorybox {
    min-height: 360px;
  }

  .slidertext2 {
    margin-left: 60px;
  }

  .slidertext3 {
    margin-left: 60px;
  }

  .slidertext6 {
    margin-left: 60px;
  }

  .slidertext7 {
    margin-left: 60px;
  }

  .contactWrp {
    min-height: 275px;
  }
}
@media screen and (max-width: 990px) {
  .navbar-default .navbar-nav > li > a {
    font-weight: 600;
  }

  .header .logo {
    margin-bottom: 10px;
  }

  .form-wrap {
    width: 100%;
  }

  .input-btn {
    text-align: left;
  }

  .sbutn {
    border-radius: 0px 0px 5px 5px;
    width: 100%;
  }

  .feature-service > li {
    margin-top: 25px;
  }

  .business-image {
    margin-top: 20px;
  }

  .input-group {
    margin-bottom: 10px;
  }

  .heading {
    padding-top: 40px;
  }

  .logo {
    text-align: center;
  }

  .footer-links {
    min-height: 190px;
  }

  .post-btn {
    text-align: center;
    float: none;
  }

  .sliderTxt p {
    text-align: center;
  }

  .feature-service .feature-image {
    text-align: center;
  }

  .business-wrap {
    padding: 12px 0 60px 0;
  }

  .categorybox {
    min-height: 310px;
  }

  .feature h3 {
    min-height: 54px;
  }

  .pricingWrp ul li {
    margin: 15px 0;
  }

  .contact-info .contactWrp {
    margin: 15px 0;
  }

  .contactWrp {
    min-height: inherit;
  }

  .business-service h3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
	.inf_login {padding: 0px;}
	.PageHeading h4 {font-size: 27px;margin-bottom: 5px;}
	.PageHeading  input[type=submit]{margin-bottom:20px;}
	.btn-post {font-size: 15px !important;padding: 7px 6px !important;margin-top: 5% !important;}
	.flagstrap{margin-right: 0px !important;}
    .innerpage-banner .pageheading {
        font-size: 25px;
    }
        .innerpage-banner {
        min-height: 203px;
        background: url(/images/contactus.jpg) no-repeat center -13px;
        background-size: cover;
        position: relative;
    }
        .firstBlock {
        width: 100%;
        font-size:17px;
    }

    .SecondBlock {
        width: 100%;
        font-size: 17px;
    }

    .ThirdBlock {
        width: 100%;
        font-size: 17px;
    }

  .header-wrap {
    margin-bottom: 20px;
  }

  .follow-us span {
    float: none;
    width: 0%;
    padding-right: 10px;
  }

  .navbar-default .navbar-nav > li > a {
    padding: 10px 15px;
  }

  .sliderTxt h1 {
    font-size: 40px;
  }

  .sliderTxt p {
    line-height: 28px;
  }

  .navbar-default {
    background: #efefef;
    margin-bottom: 10px;
  }

  .categorybox {
    padding: 0 20px;
  }

  .heading-title {
    background: none;
  }

  .listImg {
    margin-bottom: 20px;
  }

  .listImg {
    width: 100%;
  }

  .listImg img {
    width: 100%;
  }

  .heading-title span {
    padding: 0;font-size: 26px;
  }

  .categories-service > li {
    margin: 80px 0;
  }

  .categories-service > li:last-child {
    margin-bottom: 30px;
  }

  .navigationwrape {
    margin-top: 10px;
  }

  .dropdown-menu {
    position: static;
    width: 100%;
    float: none;
  }

  .feature-service {
    max-width: 375px;
    margin: 0 auto;
  }

  .sortbybar {
    margin-top: 40px;
  }

  .showreslt {
    text-align: center;
  }

  .pagiWrap .pagination {
    float: none;
    max-width: 266px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
  }

  .postimg {
    margin-bottom: 20px;
  }

  .postimg img {
    width: 100%;
  }

  .sidebar {
    margin-top: 30px;
  }
}
@media screen and (max-width: 480px) {
  .topbar-wrap .col-xs-6 {
    width: 100%;
  }
    .firstBlock {
        width: 100%;
    }

    .SecondBlock {
        width: 100%;
    }

    .ThirdBlock {
        width: 100%;
    }

.SliderImageHeight{height:230px;}
  .user-wrap {
    text-align: center;
    margin: 0 auto;
    width: 170px;
  }

  .social-wrap {
    text-align: center;
    float: none;
  }

  .sliderTxt h1 {
    font-size: 30px;
  }

  .sliderTxt p {
    font-size: 16px;
  }

  .heading {
    padding: 0;
    font-size: 18px;
  }

  .business-wrap .heading-text {
    font-size: 14px;
  }

  .heading-title {
    font-size: 24px;
  }

  .business-wrap {
    padding: 25px 0;
  }
}
.brander-logo {
  padding: 30px 0;
  text-align: center;
}
.brander-logo a {
  display: block;
  margin-bottom: 0;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  margin: 15px 0;
}
.brander-logo a:hover {
  border-color: #337ab7;
}

.partner-logo {
  padding: 60px 0;
  text-align: center;
}
.partner-logo a {
  margin: 15px;
  display: block;
  margin-bottom: 0;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  height: 130px;
  width: 170px;
}
.partner-logo a:hover {
  border-color: #337ab7;
}

.partner-logo-slide .owl-controls .owl-nav {
  display: block;
}
.partner-logo-slide .owl-controls .owl-nav div {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  background: transparent;
  color: #000;
  text-align: center;
  line-height: 50px;
}
.partner-logo-slide .owl-controls .owl-nav div i {
  font-size: 40px;
  font-weight: 600;
}
.partner-logo-slide .owl-controls .owl-nav div.owl-prev {
  left: 0;
}
.partner-logo-slide .owl-controls .owl-nav div.owl-next {
  right: 0;
}

.image-slider {
  margin: 0px 0;
  position: relative;
}
.image-slider .single-slide {
  height: 450px;
  overflow: hidden;
}
.image-slider .single-slide img {
  width: 100%;
}
.image-slider .owl-controls .owl-nav {
  display: block;
}
.image-slider .owl-controls .owl-nav div {
  position: absolute;
  top: 45%;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  line-height: 50px;
}
.image-slider .owl-controls .owl-nav div i {
  font-size: 20px;
  font-weight: 600;
}
.image-slider .owl-controls .owl-nav div.owl-prev {
  left: 0;
}
.image-slider .owl-controls .owl-nav div.owl-next {
  right: 0;
}

.inner-wrap.about {
  padding: 20px 0;
}

.inner-wrap .company-information {
  padding: 20px 0 80px 0;
}
.inner-wrap .company-information .company-informations {
  border: 1px dashed #ddd;
  padding: 30px;
}
.inner-wrap .company-information .company-informations ul {
  margin: 0;
  padding: 0;
}
.inner-wrap .company-information .company-informations ul li {
  display: block;
  margin: 10px 0;
}
.inner-wrap .company-information .company-informations ul li i {
  font-size: 16px;
  margin-right: 15px;
}
.inner-wrap .company-information .company-informations ul li a {
  display: block;
  color: #000;
}
.inner-wrap .company-information .company-informations ul li a i {
  font-size: 16px;
  margin-right: 15px;
}
.inner-wrap .company-information .gallery-image {
  height: 150px;
  overflow: hidden;
  margin-bottom: 30px;
}
.inner-wrap .profile-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.inner-wrap .profile-menu ul li {
  display: inline-block;
}

.feature-image img {
  background: #ddd;
  width: 100%;
}

@media (max-width: 1200px) {
  .price {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  .image-slider .single-slide {
    height: 400px;
  }

  .inner-wrap .company-information .gallery-image {
    height: auto;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .inner-wrap .company-information .gallery-image img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .price {
    font-size: 12px;
    top: 45%;
  }

  h1 {
    font-size: 30px;
  }

  .feature h3 a {
    font-size: 16px;
  }

  .image-slider .single-slide {
    height: auto;
  }
}
@media (max-width: 481px) {
  .categories-service > li {
    margin: 15px 0;
  }

  .partner-logo a {
    height: 80px;
    width: 100px;
    text-align: center;
    margin: auto;
  }
.price{margin-top: 17%;font-size: 19px;}
.Category{margin-top: 17%;font-size: 19px;}
  .partner-logo-slide .owl-controls .owl-nav div {
    top: 22%;
  }
  .heading-title::before, .heading-title::after{width: 70px;}
  .inner-heading h1 {

    font-size: 19px;
  }
}

ul#flagstrap-drop-down-ya7Wwz8K-list li {
  display: block !important;
}

button#flagstrap-drop-down-KM1kc8e4 {
  background: transparent !important;
  color: #000 !important;
  border: 1px solid #aaa !important;
  height: 35px !important;
  padding: 0 15px !important;
  font-size: 12px !important;
}
.btn-warning {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #e3dede !important;
	margin-top:10px;
}
dropdown-toggle.btn-warning:focus, .open>.dropdown-toggle.btn-warning:hover {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #000 !important;
}