﻿@model MTFTrades.ViewModels.VM_Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/LayoutHome.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
<div class="col-md-12" style="background-color:lightcyan;">

    <div class="form-horizontal">
        <h4>Login</h4>
        <h5 style="color:red;text-align:center">@ViewBag.LoginError</h5>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SponcerID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.SponcerID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SponcerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>
    
  
}
